.calculadora_section{
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-evenly;
    border-left: 15px solid #00E6A4;
    border-right: 15px solid #00E6A4;
    border-radius: 5px;
}

.calculadora_section .form_container form{
    border-radius: 20px;
    padding: 35px;
    background-image: linear-gradient(155deg, #00E6A4, #c3b1e7);
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        margin-bottom: 5px;
    }

    label,input,#calcular,h2{
        color: var(--h1h2-text-color);
        text-align: center;
    }
    label,#calcular{
        margin: 10px;
    }

    #calcular{
        border: 1px solid #c3b1e7;
    }

    #calcular:hover{
        background-color: #2fd1a3;
    }

    label{
        font-size: 1.2em;
    }

    input{
        text-align: center;
        border: none;
        border-radius: 15px;
        padding: 3px 5px;
        background-color: #9affe2;
        width: 60%;
    }
    img{
        justify-self: center;
        margin: 15px;
    }
}

.calculadora_section .fb{
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h2{
        text-align: center;
        color: var(--h1h2-text-color);
        margin: 20px 0 15px 0;
    }
}