.calculadora{
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-evenly;
    border-left: 15px solid #00E6A4;
    border-right: 15px solid #00E6A4;
    border-radius: 5px;
}

.custom-shape-divider-bottom-1624688116 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-bottom-1624688116 svg {
    position: relative;
    display: block;
    width: calc(121% + 1.3px);
    height: 223px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1624688116 .shape-fill {
    fill: #00E6A4;
}

.calculadora form{
    border-radius: 20px;
    padding: 35px;
    background-image: linear-gradient(155deg, #00E6A4, #c3b1e7);
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    #calculator{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100px;
        min-width: 400px;
    }
    h2{
        margin-bottom: 5px;
    }

    label,input,span,button,p,select,h2{
        color: var(--h1h2-text-color);
        text-align: center;
    }
    label,span,button,p{
        margin: 10px;
    }
    label,p,span{
        font-size: 1.2em;
    }

    input, select{
        text-align: center;
        border: none;
        border-radius: 15px;
        padding: 3px 5px;
        background-color: #9affe2;
        width: 60%;
    }
    select{
        margin-bottom: 15px;
    }
    img{
        justify-self: center;
        margin: 15px;
    }
    button{
        padding: 5px 10px;
        border-radius: 10px;
        border: 2px solid var(--h1h2-text-color);
        box-shadow: 0 0 15px var(--h1h2-text-color);
        background-color: #00E6A4;
    }
    button:hover{
        background-color: #9affe2 ;
    }
}

.calculadora .fb{
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    h2{
        text-align: center;
        color: var(--h1h2-text-color);
        margin: 20px 0 15px 0;
    }
}