.header{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    align-items: center;
    position: relative;

}

@keyframes icons{
    0% {}
    25%{transform: translateY(1px);}
    50% { transform: translateY(4px);}
}

.title_header{

    padding: 0 25px;
    border-left: 10px solid  var(--lines-bg-color);
    text-align: center;
    justify-self: center;
    color: var(--h1h2-text-color);

    .stars{
        i:hover{
            transform: scale(110%);
        }
    }

    >i{
        animation-name: icons;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        animation-timing-function: linear;
    }

    button{
        padding: 10px;
        border: none;
        border-radius: 15px;
        background-color: var(--lines-bg-color);
        color: var(--h1h2-text-color);
        cursor: pointer;
        i{
            display: none;
        }
    }
    
    button:hover{
        padding-right: 30px;
        i{
            position: relative;
            left: 5px;
            display: inline;
            transition: ease-in-out .3s;
        }

    }
    button:active{
        i{
            left: 20px;
        }
    }

    >.medalla{
        width: 250px;
    } 

}

.header img{
    width: 75%;
    justify-self: center;
    padding: 20px;
}

.custom-shape-divider-bottom-1624688116 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-bottom-1624688116 svg {
    position: relative;
    display: block;
    width: calc(121% + 1.3px);
    height: 223px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1624688116 .shape-fill {
    fill: #00E6A4;
}