.container_section{

    display: flex;
    align-items: center;
    .moveriz ,.moverde{
        margin: auto;
    }
}

.section{
    padding: 35px 40px;
    gap: 15px;
    display: flex;
    width: 70%;
    margin: auto;
    overflow-x: scroll;
    align-items: center;
    
}

.section::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
.section::-webkit-scrollbar-track {
    background-color: rgba(0,230,164,.3);        /* color of the tracking area */
    border-radius: 7px;
}
  
.section::-webkit-scrollbar-thumb {
    background-color: RGBA(81,0,247,.4);    /* color of the scroll thumb */
    border-radius: 20px; 
  }


.moveriz{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 2;
    background-image: url("images/arrow.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .7;
    box-shadow: 0 0 15px black;
}

.moverde{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 2;
    background-image: url("images/arrowiz.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .7;
    box-shadow: 0 0 5px black;
}

.moveriz:hover , .moverde:hover{
    opacity: 0.6;
}

.moveriz:active , .moverde:active{
    opacity: 0.3;
}

.section .carta1{
    border-radius: 18px;
    padding: 10px;
    min-width: 200px;
    height: 300px;
    background-image: url("images/bgcartas.jfif") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
    transition: all .3s ease-in-out;

    img{
        height: 60%;
    }

    h2{
        color: #00E6A4;
    }
    button{
        width: 50%;
        height: 10%;
        border-radius: 15px;
        border: 0;
        margin: 8px;
        background-image: linear-gradient(155deg, #00E6A4, #c3b1e7);
        transition: all .3s ease-in-out;
        color: rgb(255, 255, 255);

    }
    button:hover{
        opacity: .8;
        transform:scale(110%);
    }

    p{
        font-size: 10px;
    }
}

.carta1:hover{
    transform: scale(110%);
    z-index: 0;
}